.ButtonDefault{
    --background: red;
}

.ButtonGreen{
    --background: green;

}

.ButtonYellow{
    --background: yellow;
}

table{
    width: 200px;
    border: 1px solid black;
  }

th, td {
    border: 1px solid black;
    text-align: center;
  }