.inputName{
    align-content: center;
    margin-top: 20%;
    display: block;
    padding-bottom: 65px;
    padding-left: 20%;
    padding-right: 20%;
}

#userName {
    text-align: center;
    background-color: rgba(150, 150, 150, 0.4);
    border: 2px solid black;
    border-radius: 15px;
}

#submit {
    position: relative;
    left: 42.5%;
    width: 15%;
}

#pageContent{
    margin: auto;
    padding: auto;
    align-content: center;
    align-self: center;
}

#menuButtons {
    display: block;
    align-content: center;
};

.centerText {
    align-content: center;
    
}