.inputName{
    align-content: center;
    margin-top: 0%;
    display: block;
    padding-bottom: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.leaderBoardContent{
    align-content: center;
    margin-top: 0%;
    display: block;
    padding-bottom: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.leaderBoardContainer{
    align-content: center;
    width: fit-content;
    display: block;
    padding-bottom: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

/* OLD inputName class
.inputName{
    align-content: center;
    margin-top: 20%;
    display: block;
    padding-bottom: 65px;
    padding-left: 20%;
    padding-right: 20%;
}
*/

#userName {
    text-align: center;
    background-color: rgba(150, 150, 150, 0.4);
    border: 2px solid black;
    border-radius: 15px;
}

#submit {
    position: center;
    left: 25%;
    width: 50%;
}

/*  OLD submit id
#submit {
    position: relative;
    left: 42.5%;
    width: 15%;
}
*/

#pageContent{
    margin: auto;
    padding: auto;
    align-content: center;
    align-self: center;
}

#menuButtons {
    display: block;
    align-content: center;
};

.centerText {
    text-align: center;
    
}