/* Styling */
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* When Video is "Stopped" */
.app_container {
    margin-top: 10px;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
}
/* */
.app_input {
    margin-top: 10px;
}